.vscode/
/mongodb_data
/mongo_dump
.idea/
/.env
/backend/logs/
/backend/.env.prod
/backend/.env
/frontend/.env
/backend/app.log
/backend/venv
/frontend/node_modules
# __pycache__/

/backend/**/__pycache__/


