.main {
  background-color: #f5f5f5; /* Light background color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Ensure the container takes full height */
}

.textDiv {
  text-align: center;
  font-size: large;
  color: #008080; /* Dark Teal color */
  flex: 1; /* Distribute remaining space equally */
}

.dropdownDiv {
  text-align: center;
  color: #008080; /* Dark Teal color */
  flex: 1; /* Distribute remaining space equally */
}
.dropdownDiv p {
  font-size: large;
}

.dropdownItem:hover {
  background-color: #008080 !important;
  color: #fff !important;
}

/* .buttonDiv {
  margin-top: 5px !important;
  display: flex;
  justify-content: center;
} */

/* .startButton {
  margin-right: 2%;
} */
/* .reviewButton {
  margin-left: 2%;
} */

/* Tooltip styles */
[data-tip="see details"] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

[data-tip="see details"]:hover::after {
  content: attr(data-tip);
  position: absolute;
  background-color: #008080; /* Tooltip background color */
  color: #fff; /* Tooltip text color */
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  bottom: 100%; /* Position above the link */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0.9;
  z-index: 1;
}

.tooltipClass {
  background-color: #008080; /* Dark Teal color */
  color: #fff;
}

.tooltipLink {
  color: #008080; /* Dark Teal color */
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .main {
    padding: 10px;
  }
}
