.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 32%; /* Adjust the maximum width as needed */
  width: 100%;
  max-height: 70vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modalBody {
  flex-grow: 1; /* Allow the body to grow, pushing the buttons to the bottom */
  overflow-y: auto; /* Ensure the body is scrollable if necessary */
}

.header {
  color: #008080;
  text-align: center;
}

.detailsContainer {
  margin-top: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.startButton,
.closeButton {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.startButton:hover,
.closeButton:hover {
  background-color: #006666;
}

.detailLine {
  margin-bottom: 8px;
  font-family: "Arial", sans-serif;
}
/* Assuming you have a styles.module.css file */

.observationList {
  list-style-type: none;
  padding: 0;
}

.observation {
  margin-bottom: 3%; /* Adjust the spacing between list items */
  margin-left: 4%;
}

.number {
  font-weight: bold; /* Make the number bold */
  margin-right: 5px; /* Adjust the spacing between the number and the content */
}

.content {
  margin-right: 5px; /* Adjust the spacing between the content and the message */
}

.message {
  /* Add styling for the message if needed */
}

.buttonDiv {
  /* margin-top: 5px !important; */
  display: flex;
  justify-content: space-around;
}
